<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card-header">
                    PUBLICACIONES
                </div>
                <div class="card-body" v-for="(post,index) in getposts.data" :key="index">
                    <div class="media">
                        <div class="media-body">
                            <h3>{{post.title}}</h3>
                            <p>
                                <span class="text-default">
                                    {{post.user.name}}
                                </span>
                                <span class="text-danger">
                                    {{post.added}}
                                </span>
                            </p>
                            <p class="lead">{{post.body.substr(0,200)}}...</p>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
export default {
    name:'Dashboard',
    computed:{
        ...mapGetters({
            getposts:'post/reponsePosts'
        })
    },
    methods:{
        ...mapActions({
            getallposts:'post/getAllPost'
        })
    },
    created(){
        this.getallposts()
    }
}
</script>
